@import 'tailwindcss';

@utility container {
  margin: 8px auto;
}

@theme {
  --animate-animeLeft: animeLeft 0.3s ease-in-out forwards;

  @keyframes animeLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
